### Other Books ###
scalar/cb-test
scalar/italian-shadows-november-2018
scalar/italian-shadows-july-2019
scalar/joe-test-book
scalar/joe-test-book-2
scalar/local-scalar-test
scalarshadows-copy

### Scalar Defaults ###
scalar/codeigniter.php
scalar/.htaccess
scalar/INSTALL.txt
scalar/license.txt
scalar/maintenance.html
scalar/paperviews
scalar/README.md
system/application/arc
system/application/cache
system/application/config
system/application/controllers
system/application/core
system/application/errors
system/application/helpers
system/application/hooks
system/application/index.html
system/application/language
system/application/libraries
system/application/logs
system/application/models
system/application/plugins
system/application/rdf
system/application/views/arbors
system/application/views/index.html
system/application/views/melons/cantaloupe/
system/application/views/melons/cantaloupe/annotation_editor.php
system/application/views/melons/cantaloupe/config.php
system/application/views/melons/cantaloupe/criticalcommons.php
system/application/views/melons/cantaloupe/css/big.css
system/application/views/melons/cantaloupe/css/bootstrap-accessibility.css
system/application/views/melons/cantaloupe/css/bootstrap.min.css
system/application/views/melons/cantaloupe/css/bootstrap.min.css.map
system/application/views/melons/cantaloupe/css/common.css
system/application/views/melons/cantaloupe/css/editorial_path.css
system/application/views/melons/cantaloupe/css/header.css
system/application/views/melons/cantaloupe/css/icons
system/application/views/melons/cantaloupe/css/icons.css
system/application/views/melons/cantaloupe/css/images
system/application/views/melons/cantaloupe/css/reset.css
system/application/views/melons/cantaloupe/css/responsive.css
system/application/views/melons/cantaloupe/css/scalarvis.css
system/application/views/melons/cantaloupe/css/screen_print.css
system/application/views/melons/cantaloupe/css/sidebar_viz.css
system/application/views/melons/cantaloupe/css/small.css
system/application/views/melons/cantaloupe/css/timeline.min.css
system/application/views/melons/cantaloupe/css/timeline.theme.dark.css
system/application/views/melons/cantaloupe/css/timeline.theme.scalar.css
system/application/views/melons/cantaloupe/css/tiny.css
system/application/views/melons/cantaloupe/css/vis.css
system/application/views/melons/cantaloupe/css/widgets.css
system/application/views/melons/cantaloupe/edit.php
system/application/views/melons/cantaloupe/editorialpath.php
system/application/views/melons/cantaloupe/external.php
system/application/views/melons/cantaloupe/fonts
system/application/views/melons/cantaloupe/history.php
system/application/views/melons/cantaloupe/images
system/application/views/melons/cantaloupe/import.php
system/application/views/melons/cantaloupe/js/bootbox.min.js
system/application/views/melons/cantaloupe/js/bootstrap-accessibility.min.js
system/application/views/melons/cantaloupe/js/bootstrap.min.js
system/application/views/melons/cantaloupe/js/date-utils.min.js
system/application/views/melons/cantaloupe/js/diff_match_patch.js
system/application/views/melons/cantaloupe/js/fuse.min.js
system/application/views/melons/cantaloupe/js/html-diff.js
system/application/views/melons/cantaloupe/js/jquery.bootstrap-accessibility.js
system/application/views/melons/cantaloupe/js/jquery.bootstrap-modal.js
system/application/views/melons/cantaloupe/js/jquery.dotdotdot.min.js
system/application/views/melons/cantaloupe/js/jquery.mobile.touch.min.js
system/application/views/melons/cantaloupe/js/jquery.scrollTo.min.js
system/application/views/melons/cantaloupe/js/jquery.tabbling.js
system/application/views/melons/cantaloupe/js/scalarcomments.jquery.js
system/application/views/melons/cantaloupe/js/scalareditorialpath.jquery.js
system/application/views/melons/cantaloupe/js/scalarheader.jquery.js
system/application/views/melons/cantaloupe/js/scalarhelp.jquery.js
system/application/views/melons/cantaloupe/js/scalarindex.jquery.js
system/application/views/melons/cantaloupe/js/scalarmedia.jquery.js
system/application/views/melons/cantaloupe/js/scalarmediadetails.jquery.js
system/application/views/melons/cantaloupe/js/scalarsearch.jquery.js
system/application/views/melons/cantaloupe/js/scalarstructuredgallery.jquery.js
system/application/views/melons/cantaloupe/js/scalarvisualizations.jquery.js
system/application/views/melons/cantaloupe/js/scalarwidgets.jquery.js
system/application/views/melons/cantaloupe/js/timeline.min.js
system/application/views/melons/cantaloupe/js/tinysort.min.js
system/application/views/melons/cantaloupe/js/vis.js
system/application/views/melons/cantaloupe/meta.php
system/application/views/melons/cantaloupe/resources.php
system/application/views/melons/cantaloupe/tags.php
system/application/views/melons/cantaloupe/tinypass.php
system/application/views/melons/cantaloupe/toc.php
system/application/views/melons/cantaloupe/upload.php
system/application/views/melons/cantaloupe/users.php
system/application/views/melons/cantaloupe/versions.php
system/application/views/melons/honeydew
system/application/views/modules
system/application/views/scalar-version.php
system/application/views/widgets
system/core
system/database
system/fonts
system/helpers
system/index.html
system/language
system/libraries
system/UPDATE.txt