/***** Color Palette *****/
/*
Yellow: #fcbd7a;
Yellow Light: #fff7ef;
Green: #3b6d44;
Black: #231f20;
Black Pure: #000000;
Gray: #adadad;
Gray Medium: #584b4e;
White: #ffffff;
*/
/***** End Color Palette *****/

/***** Typography *****/
/* type edits to match SR design */

/* Adobe Caslon Pro fonts load from Adobe Fonts */
@import url(//use.typekit.net/emu6cbb.css);
.body_font {
	font-family: 'adobe-caslon-pro', Georgia, serif !important;
}

/* Gabriela Stencil Bold is locally hosted */
/* @import url("//hello.myfonts.net/count/3889cd"); */
@font-face {
	font-family: 'GabrielaStencil-Bold';
	src: url('../fonts/3889CD_0_0.eot');
	src: url('../fonts/3889CD_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/3889CD_0_0.woff2') format('woff2'),url('../fonts/3889CD_0_0.woff') format('woff'),url('../fonts/3889CD_0_0.ttf') format('truetype');
}
/***** End Typography *****/


/***** Global *****/
body {
	font-size: 16px;
}

ul, ol {
	list-style-type: none;
	margin: 0;
}

cite {
	font-style: oblique;
}

.page {
/*	background-color: #fff; */
/*	max-width: 137rem;*/ /* = 104rem * (SR's 1366px ÷ default 1040px) */
/*	margin: 5rem auto 0 auto;
	padding: 0 0 7.8rem 0;
	min-height: calc(100% - 4.8rem); */
	font-size: 135%;
	line-height: 3.2rem;
/*	position: relative;
	-webkit-transition: opacity .5s ease-in-out;
	-moz-transition: opacity .5s ease-in-out;
	-o-transition: opacity .5s ease-in-out;
	transition: opacity .5s ease-in-out; */
	max-width: 100%;
}
/***** End Global *****/


/***** Headings *****/
h1.heading_font {
	font-family: GabrielaStencil-Bold !important;
	font-weight: normal !important;
	font-style: normal;
	text-align: center;
	font-size: 55pt;
	line-height: 135%;
	padding-top: 7%;
}

/* use h3 for chapter section headings */
h3.heading_font {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	font-family: GabrielaStencil-Bold !important;
	font-weight: normal;
	font-style: normal;
	font-size: 28.75pt;
	margin-top: 80px;
	margin-bottom: 40px;
	padding-top: 30px;
	padding-right: 0;
	padding-bottom: 30px;
	padding-left: 0;
}

/* use h4 for chapter sub-section headings */
h4.heading_font {
	font-family: 'adobe-caslon-pro', Georgia, serif !important;
	font-size: 135%;
	font-weight: bold;
	padding-right: 0;
	padding-left: 0;
}

/* use h6 for blockquote credit line directly below blockquote text */
h6.heading_font {
	font-family: 'adobe-caslon-pro', Georgia, serif !important;
	font-weight: normal;
	font-size: 16.33pt;
	margin-top: -1.2rem;
	padding-top: 0;
}
h6.blockquote__attribution {
	margin-bottom: 8rem;
}
/***** End Headings *****/


/***** Landing Page / Table of Contents *****/
#home__bkg {
	height: auto;
	min-height: 100%;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	min-width: 100%;
	width: 100%;
}
#home__toc {
	background: url("http://206.189.70.30/scalar/italian-shadows-july-2019/media/toc_bkg.png");
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: auto;
	height: auto;
	min-height: 125vh;
	margin: 0;
	padding: 4rem;
	position: relative;
	top: 90vh;
	right: 0;
	left: 0;
	width: auto;
	min-width: 100%;
}
.toc__lead {
	grid-column: 1 / 13;
	line-height: 1.5;
	text-align: center;
}
.toc__chapter {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	min-height: 60vh;
}
.chapter1, .chapter4 {
	grid-column: 1 / 5;
}
.chapter2, .chapter5 {
	grid-column: 5 / 9;
}
.chapter3, .chapter6 {
	grid-column: 9 / 13;
}
.chapter6 {
	margin-bottom: 2rem;
}
.toc__icon {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 1.5rem;
	width: 100%
}
.toc__icon__wrapper {
	background: transparent;
	border: 1px solid #fff;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 16rem;
	position: relative;
	width: 16rem;
}
.toc__icon__wrapper:before {
	background: transparent;
	border: 1px solid #fff;
	border-radius: 50%;
	content: "";
	position: absolute;
	top: 8px;
	right: 8px;
	bottom: 8px;
	left: 8px;
}
.toc__icon__bkg {
	background: hsla(345, 6%, 4%, .6);
	border-radius: 50%;
	height: 14.25rem;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 14.25rem;
}
.toc__icon img {
	height: auto;
}
.chapter1 img {
	margin-top: 1rem;
	width: 13rem;
}
.chapter2 img {
	width: 8rem;
}
.chapter3 img {
	width: 30rem;
}
.chapter4 img {
	width: 11rem;
}
.chapter5 img {
	width: 13rem;
}
.chapter6 img {
	margin-top: .5rem;
	width: 12rem;
}
.toc__chapter__num {
	font-family: 'GabrielaStencil-Bold' !important;
	font-weight: normal !important;
	margin: 0 !important;
}
.toc__chapter__num a {
	border-bottom: 1px solid #FCBD7A;
	color: #FCBD7A;
	font-size: 25pt;
	padding:0 1rem .5rem 1rem;
	width:100%;
}
.toc__chapter__num a:hover, .toc__chapter__num a:focus {
	border-bottom: 1px solid #fff;
	color: #fff;
	text-decoration: none;
}
.toc__chapter__num a:hover {
	transition: border-bottom .2s, color .2s;
}
.toc__chapter__num a:focus {
	outline: 1px dotted #fff;
}
h3.toc__chapter__title {
	border: none;
	box-sizing: border-box;
	font-family: 'GabrielaStencil-Bold' !important;
	font-weight: normal !important;
	font-size: 30pt !important;
	line-height: 1.2;
	margin: 0 !important;
	padding: 1rem 7rem 1.5rem 7rem !important;
	text-align: center;
	width: 100%;
}
h3.toc__chapter__title a {
	color: #fff;
}
h3.toc__chapter__title a:focus {
	outline: 1px dotted #fff;
}
.toc__chapter__date {
	color: #FCBD7A;
	font-size: 13pt;
}
.toc__chapter__sections {
	margin: .5rem 0 8rem 0;
	text-align: center;
}
.section__title {
	font-size: 15pt;
	margin-bottom: .125rem;
}
.section__title a {
	color: #fff;
}
.section__title a:hover {
	color: #fff;
}
.section__title a:focus {
	outline: 1px dotted #fff;
}
#home__footer {
	background: #231F20;
	display: flex;
	align-items: center;
	justify-content: center;
	grid-column: 1 / 13;
	height: 12rem;
	margin: 0 -4rem -12rem -4rem;
}
#home__footer ul {
	display:flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}
#home__footer a {
	color: #FCBD7A;
	font-size: 13pt;
	padding: 1rem 2rem;
}
#home__footer a:hover {
	color: #fff;
}
#home__footer a:focus {
	outline: 1px dotted #FCBD7A;
}
/***** End Landing Page / Table of Contents *****/


/***** Hero / Header *****/
.caption_font { 
	font-family: 'adobe-caslon-pro', Georgia, serif !important; 
	font-size: 106%;
}

div.media_description.pane {
	font-size: 1.75rem !important;
}

.path-breadcrumb {
	font-family: 'adobe-caslon-pro', Georgia, serif !important;
	font-weight: bold;
	text-align: center;
	font-size: 12.25pt;
	letter-spacing: 2px;
	margin-top: 40px;
}
.path-breadcrumb a:focus {
	outline: 1px dotted #fff;
}

.title_card {
	width: 100% !important;
	min-width: 99% !important;
}
.title_card .chapter__title {
	display: block;
	font-size: 3rem;
	margin-bottom:-2rem;
}
.title_card .description {
	padding-left: 0;
}

.image_header {
	background-color: #4F4D4E;
}

.image_header .title_card {
	min-height: 526px;
}

div.description {
	font-family: 'adobe-caslon-pro', Georgia, serif !important;
	font-size: 19.25pt;
	font-style: normal !important;
	text-align: center;
	padding-top: 1.75em;
}
/***** End Hero / Header *****/


/***** Hamburger Menu *****/
#mainMenuInside h2 {
	font-family: 'adobe-caslon-pro', Georgia, serif !important;
	font-size: 21pt !important;
	font-style: normal !important;
	font-weight: 800 !important;
	margin-bottom: 1.2rem !important;
	padding-left: 3.8rem !important;
}
#mainMenuSubmenus h2.title {
	font-family: 'adobe-caslon-pro', Georgia, serif !important;
	font-size: 16pt !important;
	font-style: normal !important;
	font-weight: 600 !important;
	padding: 0 3.4rem !important;
}
#mainMenuSubmenus h2.title span {
	display: inline-block;
}
.tocMenu .expandedPage .description {
	display: inline-block;
	padding: 0 3.4rem;
}
.tocMenu .expandedPage h2.title {
	line-height: 1.2;
	margin: 1.8rem 0 1rem 0;
}
.relationships ol {
	text-align: left;
}
.relationships ol li a > span {
	display: inline-block;
}
/***** End Hamburger Menu *****/


/***** Chapter Navigation *****/
.chapter-nav {
	background: #231F20;
	color: #ADADAD;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	font-size: 1.5rem;
	height: 6rem;
	margin:-5rem 0 6rem 0;
	padding: 0 4rem;
	width: 100%;
}
.chapter-nav__sections {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-basis: 55%;
	height: 6rem;
	margin: 0;
}
.chapter-nav__section {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;}
.chapter-nav__section a {
	box-sizing: border-box;
	color: #ADADAD;
	padding: .5rem;
	text-decoration: none;
}
.chapter-nav__section a:hover {
	color: #fff;
	transition: color .2s;
}
.chapter-nav__section a:focus {
	outline: 1px dotted #fff;
}
.chapter-nav__section span {
	border-bottom: 1px solid #FCBD7A; 
	color: #FCBD7A;
	display: none;
	font-style: oblique;
}
.chapter-nav__section.section--active span {
	display: inline-block;
}
.chapter-nav__simulation {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-basis: 40%;
}
a.simulation__title {
	color: #FCBD7A;
	font-style: oblique;
	margin-left: 2rem;
}
a.simulation__title:hover {
	color: #fff;
	transition:color .2s;
}
a.simulation__title:focus {
	color: #fff;
	outline: 1px dotted #fff;
}
a.simulation__title em {
	font-style: normal;
}
/***** End Chapter Navigation *****/


/***** Footer Navigation *****/
.relationships {
	margin-top: 10rem;
	max-width: 100% !important;
}
.relationships h1 {
	font-size: 28pt;
}
.relationships ul {
	padding-right: 7.2rem;
	padding-left: 7.2rem;
	text-align: center;
}
a.nav_btn, a.nav_btn.primary {
	background-color: #3B6D44;
	color: #fff;
}
a.nav_btn:hover, a.nav_btn.primary:hover {
	background-color: #FCBD7A;
	color: #231F20;
	transition: .2s;
}
/***** End Footer Navigation *****/


/***** Body Copy *****/
div.note_viewer {
	background-color: #fff7ef;
	line-height: 144%;
}

a.texteo_icon.texteo_icon_note {
	font-size: 61% !important;
  	vertical-align: baseline;
  	position: relative;
  	top: -0.4em;
}


a.media_link {
 /* vertical-align: middle !important; */
}

/* a.noteLink {
	display: none;
} */

div.slot {
	background-color: white;
	background-image: none;
}

div.widgetContainer.well.page_margins {
	margin-left: auto !important;
	margin-right: auto !important;
	align-content: center !important;
}

div.slot.full.pillarbox {
	background-color: #ADADAD !important;
}

div.media_description.pane.body_copy {
	font-weight: bold;
}

/* sizing & misc. styling to match SR design */
.bg_screen {
	background-color: white !important;
	background-image: none !important;
}

div.body_copy {
/*	margin-left: auto !important;
	margin-right: auto !important;*/
	margin: 0 !important;
	padding: 0 !important;
	text-align: center;
	max-width:100% !important;
}

.fake_body_copy {
	max-width: 85.4rem; 
	margin: 0 auto !important; 
	padding: 0 7.2rem !important;
	text-align: left;
}
.fake_body_copy a {
	color: #3b6d44;
}

div.slot.left.top {
	margin-left: auto !important;
	margin-right: auto !important;
	padding-left: 33rem !important;
}

div.media_description.pane {
	margin-bottom: 40px;
	line-height: 160%;
}

blockquote {
	font-family: 'adobe-caslon-pro', Georgia, serif !important;
	font-style: italic;
	font-weight: normal !important;
	padding-left: 0rem;
	padding-right: 0rem;
	font-size: 22pt;
	line-height: 135%;
	border-left: none !important;
}

blockquote:not(.pullquote) {
	border-left: 1px solid #000 !important;
	color: #584B4E;
	font-size: 2.1rem;
	font-style: normal;
	line-height: 1.5;
	margin: 5rem 0 5rem 9rem;
	padding-left: 1.5rem;
}
/***** End Body Copy *****/


/***** Footnotes *****/
.note_viewer a {
	color: #3B6D44;
	text-decoration: underline;
}
.note_viewer a:hover {
	color: #000;
	transition: .2s;
}
.note_viewer .fake_body_copy {
	max-width: 100%;
	padding: 2.5rem !important;
}
a.texteo_icon.texteo_icon_note {
	background-image: none !important;
	color: #3B6D44;
	font-family: 'adobe-caslon-pro', Georgia, serif !important;
	font-size: 70% !important;
	font-style: normal !important;
	font-weight: 800 !important;
	padding-left: 0;
}
a.footnote--scroll {
	color: #3B6D44;
	cursor: pointer;
	font-family: 'adobe-caslon-pro', Georgia, serif !important;
	font-size: 70% !important;
	font-style: normal !important;
	font-weight: 800 !important;
	position: relative;
	top: -0.4em;
	vertical-align: baseline;
}
.footnotes {
	text-align: left;
}
.paragraph_wrapper ul > li.footnote {
	margin-left: 0;
}
.footnote a.footnote--scroll {
	font-size: 100% !important;
	margin-right: 1.5rem;
	top: 0;
}
.relationships ul.has_reference a {
	color: #3b6d44;
}
/***** End Footnotes *****/


/***** Carousel Widget *****/
.carousel-caption {
	top: 0 !important;
	right: 0 !important;
	bottom: 0;
	left: 0 !important;
}
/***** End Carousel Widget *****/


/***** Embedded Simulations *****/
.simulation {
	margin-right: auto;
	margin-left: auto;
	width: 912px;
}
.simulation h4 {
	text-align: left;
}
/****** End Embedded Simulations *****/


/***** Further Insights *****/
.deep-dive__navigation {
	display: flex;
	align-items: center;
	justify-content: space-around;
}
a.further-insights {
	background-color: #3B6D44;
	color: #fff;
	padding: 1.5rem;
	text-align: center;
	width: 100%;
}
a.further-insights:hover {
	background-color: #FCBD7A;
	color: #231F20;
	text-decoration: none;
	transition: .2s;
}
.further-insights-wrapper {
	display: flex;
}
/***** End Further Insights *****/

.text--centered {
	text-align: center;
}
